<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IncidentAPP_Report.Properties.Settings.InputConnectionString" connectionString="Data Source=NAOKI-PC;Initial Catalog=Input;Persist Security Info=True;User ID=sa;Password=0302" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
